.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Гибкие колонки */
  gap: 20px; /* Фиксированный промежуток между элементами */
  justify-content: center; /* Центрируем контейнер по горизонтали */
  margin-bottom: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.card img {
  width: 100%; /* Изображение адаптируется к ширине контейнера */
  height: 50%; /* Автоматическая высота для сохранения пропорций */
  cursor: pointer;
}

.card img:hover {
  border: solid 2px;
  opacity: 0.8;
  transition: 0.7s;
}

.card h3 {
  margin: 10px 0;
}

.product-container-button {
  cursor: pointer;
  margin-top: 5px;
  background-color: rgb(155, 155, 155);
  border: solid 2px;
  font-size: 1rem; /* Используем относительные единицы */
}

.product-container-button:hover {
  background-color: rgb(66, 66, 255);
  transition: 0.9s;
}

/* Медиазапросы для настройки на маленьких экранах */
@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Меньший минимальный размер колонок */
    gap: 15px; /* Уменьшаем промежуток */
  }

  .product-container-button {
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
  }
}
