.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 20px;
  margin-left: 60px;
  margin-bottom: 10px;
}

.category-block {
  display: flex;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  height: 200px; /* Высота блока */
  width: 400px;
  background-color: #f0f0f0; /* Цвет фона блока */
  cursor: pointer;
  border: 2px solid #ccc; /* Рамка вокруг блока */
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.category-block:hover {
  background-color: #3146eb; /* Цвет фона при наведении */
  transform: scale(1.05); /* Увеличение блока при наведении */
}

.category-block h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Цвет текста */
}
